<div id="header-style">
        <!--Navbar-->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">TeamA</a>
      
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
      
            <!-- Dropdown -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
      
          </ul>
          <!-- Links -->
      
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->
      
      </nav>
      <!--/.Navbar-->
      <div id="navbar">
            <a href="#abc">Tham khảo web ngay</a>
      </div>
    

    <div class="fixed-bg">
        
    </div>
    <br>

    <div id="wrapper">
            <div class="section" data-anchor="abc">
            <img src="http://thuthuatphanmem.vn/uploads/2018/09/11/hinh-anh-dep-11_044127919.jpg">
            </div> 
    </div>

    <script>
        $(document).ready(function(){
            $('#wrapper').fullpage();
        });
    </script>
</div>