<!-- Footer -->
<div id="footer-style">
    <!-- Footer -->
<div class="page-footer font-small indigo">

        <!-- Footer Links -->        
        <h5 class="footer-copyright text-center py-3">CONTACT US!</h5>
        <div class="container text-center">
      
          <!-- Grid row -->
          <div class="row">
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                    <i class="fas fa-envelope"></i>
                    <p>team.a@gmial.com</p>
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
            <i class="fab fa-facebook-square"></i>
            <p>facebook.com/team.a</p>
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <i class="fas fa-map-marked-alt"></i>
                <p>UIT-VNU</p>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <div class="footer-copyright text-center py-3">©Copyright: TEAM A
        </div>
    </div>   
</div>
